.bodys{
  float: left;
  padding-top: 4%;
  width: 50%;
  height: 50%;
}
.hcr{
  animation: boxs 3s;
  float: left;
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 2% 0 1% 50%;

}
.hcr1{
  animation: boxs 4s;
  float: left;
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 2% 0 5% 46%;
}
.hcr2{
  animation: boxs 4.5s;
  float: left;
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 2% 0 5% 50%;
}
.hcr3{
  animation: boxs 4.5s;
  float: left;
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 2% 0 5% 50%;
}
.imgbod2 {
  animation: boxs 4s;
  float: left;
  height: 300px;
  padding-left: 3em;
}
 .imgbod3 {
  animation: boxs 4s;
  float: left;
  height: 300px;
  padding-left: 3em;
 }
 .imgbod4 {
  animation: boxs 4s;
  float: left;
  height: 300px;
  padding-left: 3em;
 }
.habilidades{
  animation: boxs 3s;
  display: inline-block;
  width: 100%;
}
.habilidadesprof{
  animation: boxs 3.5s;
  display: inline-block;
  width: 100%;
}
.habilidades1{
  animation: boxs 4s;
  margin: 0 0 0 0;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 24px;
}
.habilidades2{
  animation: boxs 4s;
  margin: 7% 0 0 0em;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 24px;
}
.habilidades3{
  animation: boxs 4s;
  margin: 1% 0 0 0em;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 24px;
}
.habilidades4{
  padding-top: 7%;
}
.imgbod{
  float: right;
  object-position: bottom;  
  object-fit: scale-down;
  padding-top: 3.09em;
  height: 800px;
  width: 32%;
}
.Paragrafo{
  font-size: 22px;
  margin-top: 15%;
  margin-left: 2em;
  font-family: 'Saira Extra Condensed', sans-serif;
  position: center;
}
.btn{
  font-size: 22px;
  margin-top: 2em;
  margin-left: 14%;
  background-color: black;
  color: white;
  border-color: black;
  font-family: 'Saira Extra Condensed', sans-serif;
  position: center;
  cursor: pointer;
}
.btn:active{
  background-color: white;
}
.navbar{  
  float: right;
  background-color: white;
  width: 100%;
  padding: auto;
  margin: 0 0px;
}
.logo{
  float: left;
  margin-left: 2em;
  width: 7em;
}
.links{
  float: right;
  margin-right: 6em;
  margin-top: 2em;
}
.navitem , .navlink{
  float: right;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Saira Extra Condensed', sans-serif;
 }
.navbar a:hover {
  background-color: #fff;
  color: black;
 }
.navbar a.active {
  background-color: #04AA6D;
  color: white;
 } 
.navbar .icon {
  display: none;
 } 
.modalcontainer{
  display: none;
  width: 100%;
  height: 100%;
  margin: -0.5em;
  background: rgba(0,0,0,.5);
  z-index: 5000;
  position: fixed;
  justify-content: center;
  align-items: center;
}
.modal1{
  animation: modal 0.5s;
  background-image: url("https://i.pinimg.com/originals/c8/21/e6/c821e6f6a409765d5b593ec84eb06cc8.jpg");
  height: 40%;
  width: 80%;
  border: 4px ;
  border-radius: 10px;
}
.fechar{ 
  float: right;
  top: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.curriculo{
  animation: boxs 2s;
  float: left;
  text-align: center;
  position: absolute;
  margin: 3em 0 0 10%;
  font-size: 24px;
  font-family: 'Saira Extra Condensed', sans-serif;
}
.pesquisa{
  float: left;
  animation: boxs 2s;
  text-align: center;
  position: fixed;
  margin: 3em 0 0 35.2%;
  font-size: 24px;
  font-family: 'Saira Extra Condensed', sans-serif;
}
.pessoal{
  float: left;
  animation: boxs 2s;
  text-align: center;
  position: fixed;
  margin: 3em 0 0 60%;
  font-size: 24px;
  font-family: 'Saira Extra Condensed', sans-serif;
}
.curriculo a:link{
  color: black;
  text-decoration: none;
}
.pesquisa a:link{
  color: black;
  text-decoration: none;
}
.pessoal a:link{
  color: black;
  text-decoration: none;
}
.pr{
  color: black;
  text-decoration: none;
}
.pr{
  display: none;
  animation: boxs 2s;
  text-align: center;
  font-size: 24px;
  font-family: 'Saira Extra Condensed', sans-serif;
}
.mg{
  display: none;
  width: 100%;
  height: 100%;
}

.containecontact{
  width: 100%;
}
.h1contact{
  animation: boxs 1.5s;
  text-align: center;
  font-size: 24px;
  font-family: 'Saira Extra Condensed', sans-serif;
}
.linkcontact{
  animation: boxs 3s;
  width: 19.5%;
  padding-left: 4%;
  margin: 3% 0 4% 0;
}